/* common */

.load_content > *{
	-webkit-transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}

.ajaxloading_start .load_content > *{
    opacity: 0;
}


.load_content::after{
	-webkit-transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    content:"";
    position: fixed;
    left:0px;
    top:0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 40px;
    height: 40px;
    background-image: url(../img/oval.svg);
    background-size: 100% 100%;
    opacity: 0;
}


.ajaxloading_start .load_content::after{
    opacity: 1;
}

.content_title_wrapper{
    font-family: 'OT Missouri 16mm', "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    text-align: center;
    position: relative;
}

.content_title_wrapper .chi{
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	letter-spacing: 0.1em;
}

/* home */

.home_content{
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home_content img {
    user-select: none;
}

.view_icon_wrapper{
    position: fixed;
    top:0px;
    bottom:0px;
    right: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 10;
}

.view_icon_wrapper ul{
    padding: 25px;
}
.view_icon_wrapper ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    position: relative;
}
.view_icon_wrapper ul li img{
	-webkit-transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    height: 25px;
    position: relative;
    z-index: 1;
    transform: scale(1,1);
}

.view_icon_wrapper ul li span{
	-webkit-transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    height: 25px;
    line-height: 25px;
    right: 0px;
    background-color: #fff;
    color:#000;
    border-radius: 999px;
    padding: 0px 10px;
    padding-right: 40px;
    position: absolute;
    top:0px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.view_icon_wrapper ul li.active span, .view_icon_wrapper ul li:hover span{
    opacity: 1;
    pointer-events: auto;
}

.view_icon_wrapper ul li.active img, .view_icon_wrapper ul li:hover img{
    transform: scale(0.8,0.8);
}

#scene{
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

canvas{
    opacity: 0;
    pointer-events: none;
}

.home_col_4{
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: auto;
    display: none;
}

.home_col{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
    display: flex;
    background-color: #000;
    overflow: hidden;
}

.home_col_big{
    width: 100%;
    height: 50%;
}

.home_col .bg{
	-webkit-transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    align-items: center;
    opacity: 0.5;
    transform: scale(1,1);  
    filter: blur(0px);
}

.home_col_4.finish .bg{
    transform: scale(1.1,1.1);
}

.home_col:hover .bg{
    opacity: 0.3;
    transform: scale(2.5,1.1);
    image-rendering: pixelated;
    filter: blur(5px);
    /* background-size: auto; */
    /* animation: roller 10s linear infinite; */
}

@keyframes roller {
    0% {
        background-size: 1000% 20%;
        background-position-x: 0%;
    }
    20%, 80% {
        background-size: 600% 40%;
    }
    35%, 85% {
        background-size: 800% 30%;
    }
    60%, 90% {
        background-size: 1000% 20%;
    }
    100% {
        background-size: 1000% 20%;
        background-position-x: 200%;
    }
}

.home_col a{
    z-index: 1;
    position: relative;
    cursor: pointer;
    margin: auto;
    padding: 50px;
    mix-blend-mode: difference;
    color:#fff;
    text-align: center;
    line-height: 1.2em;
}

.home_body{
    cursor: none;
    /* touch-action: none; */
}

.home_body a{
    cursor: pointer;
}

.home_body canvas{
    opacity: 1;
}

.mm_chi_logo{
    position: fixed;
    left: 50px;
    bottom:50px;
    width: 15%;
    z-index: 1;
}

.home_mm_logo{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    width: 5%;
}

.enter_btn{
    position: fixed;
    z-index: 199;
    width: 100px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    background-color: #fff;
    color:#000;
    padding: 5px 20px;
    text-align: center;
    margin: auto;
}

.prev_btn{
    position: fixed;
    z-index: 199;
    width: 100px;
    left: 0px;
    bottom: 30px;
    background-color: #fff;
    color:#000;
    padding: 5px 20px;
    text-align: center;
    margin: auto;
    line-height: 20px;
    height: 20px;
}

.next_btn{
    position: fixed;
    z-index: 199;
    width: 100px;
    right: 0px;
    bottom: 30px;
    background-color: #fff;
    color:#000;
    padding: 5px 20px;
    text-align: center;
    margin: auto;
    line-height: 20px;
    height: 20px;
}

.custom-cursor {

	-webkit-transition: opacity 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    transition: opacity 0.6s  cubic-bezier(0.77, 0, 0.175, 1);
    left: 0px;
    top:0px;
    position: fixed; 
    width: 1px; 
    height: 1px; 
    /* background-color: #b0b0b0; */
    /* background-color: rgba(176, 176, 176, 0.9);
    border-radius: 50%; 
    border: 1px solid #000000;
    line-height: 88px;
    font-size: 18px;
    color: #000000;
    text-align: center; */
    opacity: 1;
    pointer-events: none;
    z-index: 97;
    /* content: " "; */
    background-size: cover;
    mix-blend-mode: difference;
    pointer-events: none;
}

.custom-cursor.hide {
    opacity: 0;
}

.custom-cursor.disable {
    opacity: 0;
}
.custom-cursor.mobile {
    display: none;
}
/* .custom-cursor > div {
    display: block;
    position: absolute;
    content: " ";
    background-size: cover;
    width: 88px; 
    height: 88px;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%;
    opacity: 1;
} */

.cursor-sizer {
    position: absolute;
    width: 512px;
    height: 512px;
    left: 50%;
    top:50%;
    margin-left: -256px;
    margin-top: -256px;
    transition: transform 200ms;
}

.center-wrapper .cursor-left, .center-wrapper .cursor-right, .center-wrapper .cursor-enter, .center-wrapper .cursor-exit {
    display: block;
    position: absolute;
    content: " ";
    background-size: cover;
    width: 88px; 
    height: 88px;
    transition: transform 200ms ease-out, opacity 200ms ease-out;
    transform: translate( -50%, -50%) scale(1);
    left: 50%;
    top: 50%;
    opacity: 1;
}
.cursor-left {
    background-image: url("../img/cursor-left.png");
}
.cursor-right {
    background-image: url("../img/cursor-right.png");
}
.cursor-enter {
    background-image: url("../img/cursor-enter.png");
}
.cursor-exit {
    background-image: url("../img/cursor-exit.png");
}

:not(.show-left) > div > div > .cursor-left,
:not(.show-right) > div > div > .cursor-right,
:not(.show-enter) > div > div > .cursor-enter,
:not(.show-exit) > div > div > .cursor-exit {
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
}

.custom-cursor > div > .cursor-project-plate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%, -50%); */
    font-family: 'OT Missouri 16mm';
    text-align: center;
}

.custom-cursor > div > .center-wrapper, .mobile-center-wrapper {
    position: fixed;
    z-index: 98;
    width: 88px;
    height: 88px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgba(176, 176, 176, 1);
    border-radius: 50%; 
    border: 1px solid #000000;
    overflow: hidden;
    transition: width 500ms, height 500ms;
    box-sizing: border-box;
}
.show-left > div > .center-wrapper,
.show-right > div > .center-wrapper, 
.show-enter > div > .center-wrapper,
.show-exit > div > .center-wrapper {
    width: 88px;
    height: 88px;
}
.show-project > div > .center-wrapper {
    width: 512px;
    height: 512px;
}
.show-transition > div > .center-wrapper, .show-end > div > .center-wrapper {
    width: 16px;
    height: 16px;
}
.cursor-project-plate, .mobile-project-plate {
    position: absolute;
    width: 512px;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OT Missouri 16mm';
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 500ms, left 0ms ease-out, top 0ms ease-out;
    /* transition: all 500ms, transform 2s; */
}
.cursor-project-plate > h1, .mobile-project-plate > h1 {
    margin-top: 0px;
}
:not(.show-project) > div > div > .cursor-project-plate, :not(.show-project) > .mobile-project-plate {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.17185);
}

.custom-cursor.clicked > .cursor-sizer{
    transform: scale(0.9);
    transition: transform 50ms;
}

.mobile-center-wrapper {
    width: 256px;
    height: 256px;
    mix-blend-mode: difference;

    transform: translate(-50%, -50%) scale(0.25);
    transition: transform 200ms ease-out, opacity 200ms ease-out;
    opacity: 0;
}

.show-project.mobile-center-wrapper {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.75);
}

.mobile-center-wrapper.hide {
    display: none;
}


/* about */

.right_text_wrapper{
    text-align: right;
}

/* curatorial */

.curatorial_content{
    padding: 60px 0px;
    position: relative;}


.curatorial_content .description{
    margin-top: 60px;
    position: relative;
}

.curatorial_content .description::after{
    content:"";
    position: absolute;
    top:0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
    margin: auto;
}

.dot_text{
    position: relative;
}

.dot_text::before{
    content:"●";
    position: relative;
    margin-right: 5px;
}

.curatorial_content .free_text{
    margin-top: 60px;
}

.curatorial_content .quote{
    margin-top: 60px;
    text-align: center;
}

.curatorial_content .quote::before{
    content:"●";
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.curatorial_content .quote::after{
    content:"●";
    position: relative;
    display: block;
    margin-top: 10px;
}

.curatorial_content .free_text:first-child{
    margin-top: auto;
}

.curatorial_content .quote:first-child{
    margin-top: auto;
}

/* project detail */

.project_detail_content{
    padding: 60px 0px;
    position: relative;
}

.project_detail_content + .project_detail_content::before{
    content:"";
    position: absolute;
    left: 50px;
    right: 50px;
    top:0px;
    margin: auto;
    border-top:1px solid #000;
}

.black_body .project_detail_content + .project_detail_content::before{
    border-top:1px solid #b0b0b0;
}

.project_detail_content .art_wrapper{
    margin-top: 60px;
    position: relative;
}

.project_detail_content .art_wrapper .bg{
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-bottom: 50%;
    position: relative;
    background-position: center center;
    background-size: cover;
    display: block;
    align-items: center;
    justify-content: center;
}

.project_detail_content .art_wrapper:hover .bg{
    opacity: 0.9;
}

.project_detail_content .art_btn_wrapper::after{
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content:"▶";
    text-align: center;
    font-family: 'OT Missouri 16mm', "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    color: #b0b0b0;
	font-size: calc(12px + 5vw);
	line-height:200px;
    width: 200px;
    height: 200px;
    mix-blend-mode: difference;
    display: block;
    margin: auto;
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    pointer-events: none;
}



.project_detail_content .art_wrapper:hover::after{
    transform: scale(1.2);
}


.project_detail_content .introduction{
    margin-top: 60px;
    position: relative;
}

.project_detail_content .line_introduction::after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
    width: 1px;
    height: 100%;
    background-color: #000;
    margin: auto;
}


.black_body .project_detail_content .line_introduction::after {
    background-color: #b0b0b0;
}


.project_detail_content .description{
    margin-top: 60px;
    position: relative;
    display: flex;
}

.project_detail_content .description:first-child{
    margin-top: auto;
}

.project_detail_content .description .free_text{
    margin-right: 200px;
    position: sticky;
    top:135px;
    align-self: flex-start;
}

.project_detail_content .description .free_text.free_text_column{
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}
.project_detail_content .description .free_text.free_text_column > p{
    width: 50%;
    margin-top: 30px;
}


.project_detail_content .sticky_text_wrapper{
}


.project_detail_content .sticky_text{
    width: 300px;
    position: sticky;
    top:135px;
    padding-bottom: 135px;
    align-self: flex-start
}

.project_detail_content .artist_title{
    text-align: center;
}

.project_detail_content .artist_pic{
    padding-bottom: 100%;
    position: relative;
    background-position: center center;
    background-size: cover;
    margin-top: 15px;
}


.project_detail_content .artist_pic:first-child{
    margin-top: auto;
}

.project_detail_content .artist_name{
    margin-top: 25px;
    text-align: center;
}

.project_detail_content .artist_description{
    margin-top: 20px;
}

.art_btn{
    position: relative;
    display: block;
    cursor: pointer;
}


.art_popup{
	position:fixed;
	right:20px;
	top:20px;
    bottom:20px;
	left: 20px;
    margin: auto;  
	background-color:#b0b0b0;
	z-index: 111;
	display: none;
    border:1px solid #000;
}

.art_popup_content{
    position: absolute;
    left: 30px;
    top:30px;
    right: 30px;
    bottom: 30px;
    margin: auto;
}

.art_popup iframe{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    display: none;
}

.art_popup_close{

}



.art_popup_close{
	z-index:10;
	position: absolute;
	color:#54565A;
	width: 25px;
	height:25px;
	top:5px;
	right:5px;
    cursor: pointer;
	}	

	
.art_popup_close::before, .art_popup_close::after{
    content:"";
	position:absolute;
	left:0%;
	top:50%;
	width:100%;
	height:1px;
	overflow:hidden;
	display:block;
	background-color:#000;
	}		
	
	
.art_popup_close::before{
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	}	
	
.art_popup_close::after{
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	}	
	
/* schedule_content */

.schedule_content{
    padding: 60px 0px;
    position: relative;
}

.schedule_item_wrapper{
    margin-top: 60px;
}

.schedule_item{
    padding: 50px;
    position: relative;
    text-align: center;
}

.schedule_item::before{
    content:"";
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    border-top:1px solid #b0b0b0;
    margin: auto;
}

.schedule_item .schedule_title{
    font-family: 'OT Missouri 16mm', "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    margin-top: 30px;
    color: #b0b0b0;
}

.schedule_item .schedule_title:first-child{
    margin-top: auto;
}


.schedule_description{
	font-family: "Neue Montreal", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    margin-top: 30px;
    text-align: center;
}

.schedule_description:first-child{
    margin-top: auto;
}

.schedule_btn_wrapper{
    margin-top: 30px;
}

.schedule_btn_wrapper a{
	font-family: "Neue Montreal", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    display: inline-block;
    border:1px solid #000;
    padding: 2px 40px 2px;
    color:#000;
}

.black_body .schedule_btn_wrapper a{
    border:1px solid #b0b0b0;
    color:#b0b0b0;
}


@-moz-document url-prefix() {
	.schedule_btn_wrapper a{
        padding: 2px 40px 4px;
    }

}

.schedule_btn_wrapper a:hover{
    background-color: #000;
    color:#b0b0b0;
}

.black_body .schedule_btn_wrapper a:hover{
    background-color: #b0b0b0;
    color:#000;
}


.schedule_item .chi{
    font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	letter-spacing: 0.05em;
}


/* logo_item_wrapper */

.logo_item_wrapper_wrapper{
    margin-top: 60px;
}

.logo_item_wrapper{
    display: flex;
    margin: -60px -20px;
}
.logo_item_wrapper2{
    display: block;
}

.logo_item{
    margin: 60px 20px;
}

.logo_item_wrapper .logos{
    display: flex;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.logo_item_wrapper .logos img{
    height: 60px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}


@media screen and (max-width: 1280px) { 

    .project_detail_content .description .free_text {
        margin-right: 60px;
    }

}

@media screen and (max-width: 1023px) { 

    .view_icon_wrapper ul {
        padding: 5px;
      }


	.mm_chi_logo {
		left: 15px;
		bottom: 15px;
		width: 30%;
	}

	.home_mm_logo {
		right: 15px;
		bottom: 15px;
		width: 10%;
	}
    
	/* curatorial_content */

	.curatorial_content .description .col_wrapper .col{
		float: none;
		width: 100%;
	}

	.curatorial_content .description .col_wrapper .col + .col{
		padding-top: 60px;
		margin-top: 60px;
		border-top:1px solid #000;
		float: none;
	}

	.curatorial_content .description::after {
		display: none;
	  }

	/* line_introduction */

	.line_introduction .col_wrapper .col{
		float: none;
		width: 100%;
	}

	.line_introduction .col_wrapper .col + .col{
		margin-top: 60px;
		float: none;
	}

    .black_body .line_introduction .col_wrapper .col + .col{
		/* border-top:1px solid #b0b0b0; */
	}

	.line_introduction::after {
		display: none;
	  }

    /* project_detail_content */

    .project_detail_content + .project_detail_content::before{
        left: 15px;
        right: 15px;
    }

    .project_detail_content .description {
        display: block;
      }

    .project_detail_content .description .free_text {
        margin-right: auto;
        position: relative;
        top:auto;
      }

      .project_detail_content .sticky_text_wrapper {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        margin-top: 30px;
      }

      .project_detail_content .sticky_text {
        width: auto;
        position: relative;
        top: auto;
        padding-bottom: 0px;
      }

      .art_popup{
          right:5px;
          top:5px;
          bottom:5px;
          left: 5px;
      }


    .schedule_content{
    }

    .schedule_item{
        padding: 50px 0px;
    }

      
}