@font-face {
    font-family: 'OT Missouri 16mm';
    src: url('OTMissouri-16mm.woff2') format('woff2'),
        url('OTMissouri-16mm.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('NeueMontreal-Regular.woff2') format('woff2'),
        url('NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

